<!-- Main Stylesheet File -->
  <link href="css/cart_page.css" rel="stylesheet">
<!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="container">
      <div class="intro-text row">
        <div class="col">
          <h2>My <b class="quotes">Cart</b></h2>
        </div>
        
      </div>

    </div>
  </section><!-- #intro -->
    
<!--==========================
Recommended Section
============================-->
<section id="team recom" class="section-bg"  style="padding-top: 70px">
  <div class="container">
      <% var total = [] %>
      <% for (let i = 0 ; i < cart_load.length; i++) { %>
      <form action="/users/order" method="post" role="form" class="orderForm">
       <!--form-->
       <div class="form-group" style="display:none">
              <input type="text" id="restaurantID" name="restaurantID" value="<%= cart_load[i][0].restaurant_id %>">
       </div>
      <div class="row col restaurant-divide">
          <div class="panel panel-info">
            <div class="panel-heading">
              <div class="panel-title">
                <h1 id="restaurant_fullname"><%= cart_load[i][0].full_name %></h1>
                <hr>
              </div>
            </div>

            <div class="panel-body py-4">
                  <% total[i] = 0  %>
                  <% for (let a = 0 ; a < cart_load[i].length; a++) { %>
                     <div class="form-group" style="display:none">
                        <input type="text" id="productID" name="product[<%=a%>]" value="<%= cart_load[i][a].product_id %>">
                        <input type="text" id="orderQuantity" name="quantity[<%=a%>]" value="<%= cart_load[i][a].quantity %>">
                        <input type="text" id="orderComments" name="comments[<%=a%>]" value="<%= cart_load[i][a].comments %>">
                        <input type="text" id="orderComments" name="cart_id[<%=a%>]" value="<%= cart_load[i][a].cart_id %>">
                     </div>
                  <% total[i] += cart_load[i][a].price * cart_load[i][a].quantity  %>
                  <% if(a != 0) {%> <hr> <% } %>
                  <div class="row menu-divide">
                    <div class="col-2"><img class="img-responsive" src="/uploads/<%= cart_load[i][a].picture %>" style="width:inherit">
                    </div>
                    <div class="col-4">
                      <h4 class="product-name" id="product_name"><strong><%= cart_load[i][a].name %></strong></h4>
                      <h4 id="cart_comments"><small><%= cart_load[i][a].comments %></small></h4>
                    </div>
                    <div class="col-6">
                      <div class="row row align-items-center justify-content-end">
                        <div class="input-group col-8">
                          <input type="number" class="form-control" aria-label="Dollar amount (with dot and two decimal places)" value="<%= cart_load[i][a].quantity %>">
                          <div class="input-group-append">
                            <span class="input-group-text">x</span>
                            <span class="input-group-text" id="product_price">$ <%= cart_load[i][a].price %> NTD</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-2">
                        <button type="button" class="btn btn-link btn-xs">
                          <span class="glyphicon glyphicon-trash"> </span>
                        </button>
                      </div>
                    </div>
                  </div>
                  <% } %>
            </div>

            <div class="panel-footer">
              <hr>
              <div class="row text-center">
                <div class="col-9">
                  <h4 class="text-right">Total <strong>$ <%= total[i] %> NTD</strong></h4>
                </div>
                <div class="col-3">
                  <button type="submit" class="btn btn-success btn-block">
                    Place Order
                  </button>
                </div>
              </div>
            </div>
          </div>
          </form>
      </div>
      <% } %>
  </div>
<br>
</section><!-- #team -->


<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
<script>
   if(<%- JSON.stringify(cart_load) %>){
   let cart_load = <%- JSON.stringify(cart_load) %>;
      console.log(cart_load);
   }
</script>