<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Tiger Express</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="/img/food.ico" rel="icon">
  <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Open+Sans:300,300i,400,400i,700,700i" rel="stylesheet">

  <!-- Icon Files -->
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

  <!-- Bootstrap CSS File -->
  <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="/lib/animate/animate.min.css" rel="stylesheet">
  <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="/lib/magnific-popup/magnific-popup.css" rel="stylesheet">
  <link href="/lib/growl-notification/colored-theme.min.css" rel="stylesheet">


  <link href="/css/nav.css" rel="stylesheet">


  <!-- =======================================================
    Theme Name: Avilon
    Theme URL: https://bootstrapmade.com/avilon-bootstrap-landing-page-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <!--<h1><a href="#intro" class="scrollto">Avilon</a></h1> -->
        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="/"><img src="/img/logo.png" width="150px" title=""></a>
      </div>
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <!-- Search form -->
          <li>
            <form class="form-inline src-login">
              <i class="fas fa-search white" aria-hidden="true"></i>
              <input class="form-control-sm ml-3 w-75" type="text" placeholder="Search"
              aria-label="Search" style="color: #fff;background: transparent;border: 0px solid #ced4da;outline: 0px">
            </form>
          </li>
          
          <li><a href="/catalog">Restaurant</a></li>
          <li id="drop-after-login"><a class="btn-login" id="login-button" href="#" data-toggle="modal" data-target="#loginModal">Log In</a></li>

        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->
  

<!-- Login Modal -->
<div class="modal fade text-center" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title w-100 text-center" id="exampleModalLabel">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form">
              <div id="errormessage"></div>
              <form action="/users/login" method="post" role="form" class="loginForm">
                  <div class="form-group">
                     <input type="email" class="form-control" name="email" id="login_email" placeholder="Enter Email" data-rule="email" data-msg="Email not registered" />
                    <div class="validation"></div>
                  </div>
                  <div class="form-group input-group">
                   <input type="Password" name="password" class="form-control" id="password" placeholder="Enter Password" data-rule="minlen:4" data-msg="Password Invalid" />
                    <div class="validation"></div>
                    <div class="input-group-append forgot">
                        <a class="input-group btn-outline-secondary btn" href="#" data-toggle="modal" data-target="#forgotModal"  data-dismiss="modal">Forgot?</a>
                    </div>
                  </div>
                <div class="text-center"><button class="form-control modal-login-btn" title="Send Login">Log in</button></div>
              </form>
            </div>
      </div>
      <div class="modal-footer">
        <span>Don't have an account? </span>
        <a href="#" data-toggle="modal" data-target="#signupModal"  data-dismiss="modal">Sign Up Here!</a>
      </div>
    </div>
  </div>
</div>
  
<!-- Forgot Modal -->
<div class="modal fade text-center" id="forgotModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title w-100 text-center" id="exampleModalLabel">Forgot your password?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form">
              <div id="errormessage"></div>
              <form action="/users/forgot" method="post" role="form" class="loginForm">
                  <div class="form-group">
                     <input type="email" class="form-control" name="email" id="forgot_email" placeholder="Enter Email of your account" data-rule="email" data-msg="Email not registered" />
                    <div class="validation"></div>
                  </div>
                <div class="text-center"><button class="form-control modal-login-btn" title="Send Login">Get My Password</button></div>
              </form>
            </div>
      </div>
      <div class="modal-footer">
        <span>Remember it now? </span>
        <a href="#" data-toggle="modal" data-target="#loginModal"  data-dismiss="modal">Log in Here!</a>
      </div>
    </div>
  </div>
</div>

<!-- Signup Modal -->
<div class="modal fade text-center" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title w-100 text-center" id="exampleModalLabel">Sign Up</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form">
              <div id="errormessage"></div>
              <form action="/users/signup" method="post" role="form" class="loginForm">
                  <div class="form-group">
                     <input 
                     type="string"
                     class="form-control" 
                     name="name" 
                     id="signup_name" 
                     placeholder="Enter Full Name" 
                     data-rule="name" 
                     data-msg="Name not registered" />
                    <div class="validation"></div>
                  </div>
                  <div class="form-group">
                     <input 
                     type="email"
                     class="form-control" 
                     name="email" 
                     id="signup_email" 
                     placeholder="Enter Email" 
                     data-rule="email" 
                     data-msg="Email Registered" />
                    <div class="validation"></div>
                  </div>
                  <div class="form-group">
                   <input 
                   type="Password" 
                   name="password" 
                   class="form-control" 
                   id="signup_password" 
                   placeholder="Enter Password" 
                   data-rule="minlen:4" 
                   data-msg="Password Invalid" />
                    <div class="validation"></div>
                  </div>
                  <div class="form-group">
                     <input 
                     type="password" 
                     class="form-control" 
                     name="password2" 
                     id="signup_password2" 
                     placeholder="Confirm Password" 
                     data-rule="minlen:4" 
                     data-msg="Password not the same" />
                    <div class="validation"></div>
                  </div>
                  <div class="form-group">
                     <input 
                     type="string" 
                     class="form-control" 
                     name="student_id" 
                     id="signup_student_id" 
                     placeholder="Enter Student/Worker ID" 
                     data-rule="student_id" 
                     data-msg="Student ID not detected" />
                    <div class="validation"></div>
                  </div>
                  <div class="form-group">
                     <input 
                     type="number" 
                     class="form-control" 
                     name="phone_number" 
                     id="signup_phone_number" 
                     placeholder="Enter Phone Number" 
                     data-rule="email" 
                     data-msg="Phone number Invalid" />
                    <div class="validation"></div>
                  </div>
                <div class="text-center"><button class="form-control modal-login-btn" type="submit" title="Send Login">Sign Me Up</button></div>
              </form>
            </div>
      </div>
      <div class="modal-footer">
        <span>Have an account? </span>
        <a href="#" data-toggle="modal" data-target="#loginModal"  data-dismiss="modal">Login Here!</a>
      </div>
    </div>
  </div>
</div>

  <main id="main">   
  <%- body %>
  </main>
  

        <!--==========================
    Call To Action Section
    ============================-->
    <section id="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 text-center text-lg-left">
            <h3 class="cta-title">Own a Restaurant?</h3>
             <span class="section-divider mx-0"></span>
            <p class="cta-text"> Would you like thousands of new customers to taste your amazing food? So would we! It's simple: we list your menu online, help you process orders, so customers would get their To-Go <br>- in a heartbeat! Interested? Let's start our partnership today!</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="/dashboard/login">Join Us Now</a>
          </div>
        </div>

      </div>
    </section><!-- #call-to-action -->
    <!--==========================
    Contact Section
    ============================-->
    <section id="contact">
      <div class="container">
        <div class="row wow fadeInUp">

          <div class="col-lg-4 col-md-4">
            <div class="contact-about">
              <a href="/"><img src="/img/logoorange.png" width="250px" title=""></a>
              <p>We are on the mission to give the ability of easy, reliable, and fast Online To-Go Booking for your favourite To-Go's</p>
              <div class="social-links">
                <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="info">
              <div>
                <i class="ion-ios-location-outline"></i>
                <p>10607 臺北市大安區基隆路 4 段 43 號<br>No.43, Keelung Rd., Sec.4, Da'an Dist., Taipei City 10607, Taiwan (R.O.C.)</p>
              </div>
              <div>
                <i class="ion-ios-email-outline"></i>
                <p>contact@tigerfood.com</p>
              </div>
              <div>
                <i class="ion-ios-telephone-outline"></i>
                <p>+886 2-27333141</p>
              </div>
            </div>
          </div>

          <div class="col-lg-5 col-md-8">
            <div class="form">
              <div id="sendmessage">Your Feedback has been sent. Thank you!</div>
              <div id="errormessage"></div>
              <form action="" method="post" role="form" class="contactForm">
                <div class="form-row">
                  <div class="form-group col-lg-6">
                    <input type="text" name="name" class="form-control" id="feedback_name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                    <div class="validation"></div>
                  </div>
                  <div class="form-group col-lg-6">
                    <input type="email" class="form-control" name="email" id="feedback_email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                    <div class="validation"></div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                  <div class="validation"></div>
                </div>
                <div class="text-center"><button type="submit" title="Send Message">Send Feedback</button></div>
              </form>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #contact -->
  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 text-lg-left text-center">
          <div class="copyright">
            &copy; Copyright <strong>Tiger Express</strong>. All Rights Reserved
          </div>
        </div>
        <!--
        <div class="col-lg-6">
          <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
            <a href="#intro" class="scrollto">Home</a>
            <a href="#about" class="scrollto">About</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms of Use</a>
          </nav>
        </div>
      -->
      </div>
    </div>
  </footer><!-- #footer -->

  <!-- USER_BUTTONS -->
  <a href="/cart" class="user_button" id="cart_button">
    <i class="fas fa-shopping-cart"></i>
    <div class="notif">!</div>
  </a>

  <a href="#" class="user_button" id="chat_button" data-target="#chat_modal" data-toggle="modal">
    <i class="fa fa-comments"></i>
    <div class="notif">!</div>
  </a>

  <!-- Chat Modal -->
  <div class="modal fade" id="chat_modal" aria-hidden="true">
    <div class="modal-dialog modal-fix">
      <div class="modal-content modal-fix">
        <%- include('chat') %>
      </div>
    </div>
  </div>

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="/lib/jquery/jquery.min.js"></script>
  <script src="/lib/jquery/jquery-migrate.min.js"></script>
  <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/lib/easing/easing.min.js"></script>
  <script src="/lib/wow/wow.min.js"></script>
  <script src="/lib/superfish/hoverIntent.js"></script>
  <script src="/lib/superfish/superfish.min.js"></script>
  <script src="/lib/magnific-popup/magnific-popup.min.js"></script>

  <!-- Contact Form JavaScript File -->
  <script src="/contactform/contactform.js"></script>
  <script src="/lib/growl-notification/growl-notification.min.js"></script>

  <!-- Template Main Javascript File -->
  <script src="/js/main.js"></script>

  <!--Logins -->
  <script>
      function capitalizeFirstLetter(string) {
          return string.charAt(0).toUpperCase() + string.slice(1);
      } 
      
      if(<%- JSON.stringify(success_msg) %> != ''){
      let messages = <%- JSON.stringify(success_msg) %> ;
       GrowlNotification.notify({
        title: 'Well Done!',
        description: messages,
        type: 'success',
        position: 'bottom-left',
        closeTimeout: 2000
        });
      };

      if(<%- JSON.stringify(error_msg) %> != ''){
      let messages = <%- JSON.stringify(error_msg) %> ;
       GrowlNotification.notify({
        title: 'Sorry',
        description: messages,
        type: 'error',
        position: 'bottom-left',
        closeTimeout: 2000
        });

      if(messages == 'Please Login First to order'){
        $('#loginModal').modal({
        show: true
        }); 
      }

      };

      if(<%- JSON.stringify(user) %>){
      let user = <%- JSON.stringify(user) %> ;
      let dropDowns = '<ul>\
      <li id="btn-logged-in"><a href="/profile#history" class="btn-logged-in">My Orders History</a></li>\
      <li id="btn-logged-in"><a href="/users/logout" class="btn-logged-in">Logout</a></li>\
      </ul>\
      ';
      console.log(user.name,'is the user');
      document.getElementById("login-button").className = "btn-logged-in";
      document.getElementById("drop-after-login").classList.add("menu-has-children");
      document.getElementById("login-button").innerHTML = capitalizeFirstLetter(user.name);
      document.getElementById("login-button").href = '/profile';
      $("#drop-after-login").append(dropDowns); 
      document.getElementById("login-button").removeAttribute("data-target");
      document.getElementById("login-button").removeAttribute("data-toggle");

      $(".user_button").css("display","flex");
      }
  </script>

  <!--Chat Sockets -->
  <script src="/socket.io/socket.io.js"></script>
  <script>
    if(<%- JSON.stringify(user) %>){
      let socket = io();
      let user = <%- JSON.stringify(user) %> ;

      const addChatMessage = (data) => {
        var message = '';
        if (data.numUsers === 1) {
          message += "there's 1 participant";
        } else {
          message += "there are " + data.numUsers + " participants";
        }
        log(message);
      }

           // Whenever the server emits 'new message', update the chat body
      socket.on('new_message', (data) => {
        addChatMessage(data);
      });
    }
  </script>


</body>
</html>
