<!-- Main Stylesheet File -->
  <link href="/css/resprofile.css" rel="stylesheet">
<!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="container">
      <div class="intro-text row">
        <div class="col">
          <h2><%= restaurant_load[0].full_name %></h2>
        </div>
      </div>

    </div>
  </section><!-- #intro -->
    
<!--==========================
Recommended Section
============================-->
<section id="team recom" class="section-bg"  style="padding-top: 100px">
  <div class="container">
    <div class="section-header">
      <h3 class="section-title">Popular on <i><%= restaurant_load[0].full_name %></i></h3>
      <span class="section-divider"></span>
      <!--<p class="section-description"></p>-->
    </div>
    <div class="row wow fadeInUp">
      <% for (var i = 0 ; i < restaurant_load.length; i++) { %>
        <% if (restaurant_load[i].status == 1) { %>
      <div class="col-lg-3 col-md-6">
        <div class="member"><a href="#" class="product_clicker" id="product_<%= i %>" data-toggle="modal" data-target="#foodModal">
          <div class="pic"><img id="product_pic_<%= i %>" src="/uploads/<%= restaurant_load[i].picture %>" alt=""></div>
          <h4 id="product_name_<%= i %>"><%= restaurant_load[i].name %></h4>
          <span id="product_price_<%= i %>">$ <%= restaurant_load[i].price %> NTD</span>
          <p> <i class="fas fa-star"></i> 4.5 / 5</p>
          <span id="product_tags_<%= i %>"><%= restaurant_load[i].tags %></span>   
        </a>       
        </div>
      </div>
      <% } %>
      <% }%>
    </div>

  </div>
</section><!-- #team -->


<!-- Food Modal -->
<div class="modal fade text-center" id="foodModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="form">
              <div id="errormessage"></div>
              <form action="/users/cart_order" method="post" role="form" class="orderForm">
                  <div class="form-group" style="display:none">
                    <label for="restaurantID">restaurantID</label>
                    <input type="text" id="restaurantID" name="restaurantID">
                  </div>
                  <div class="form-group" style="display:none">
                    <label for="menuID">menuID</label>
                    <input type="text" id="menuID" name="menuID">
                  </div>
                  <div class="member">
                    <div class="pic"><img id="foodModal_pic" src="/img/featured/featured-00001.jpg" alt=""></div>
                    <h4 id="foodModal_name">Pek Cham Kee</h4>
                    <span id="foodModal_price">$300 NTD</span>
                    <p> <i class="fas fa-star"></i> 4.5 / 5</p>
                    <span id="foodModal_tags">#categories</span>          
                  </div>
                  <hr>
                  <div class="form-group">
                     <h5>Special instructions</h5>
                     <textarea type="text" class="form-control" name="Comments" id="email" placeholder="You can write down here any special instructions" data-rule="order" data-msg="Order Invalid"></textarea>
                    <div class="validation"></div>
                  </div>
                  
                <div class="text-center">
                  <div class="row">
                  <div class="col-4">
                    <div class="input-group">
                      <span class="input-group-btn">
                        <button type="button" id="decrement" class="quantity-left-minus btn btn-danger btn-number"  data-type="minus" data-field="">
                          <span class="fas fa-minus"></span>
                        </button>
                      </span>
                      <input type="text" id="quantity" name="orderQuantity" class="input-number text-center" value="1" min="1" max="100">
                      <span class="input-group-btn">
                        <button type="button" id="increment" class="quantity-right-plus btn btn-success btn-number" data-type="plus" data-field="">
                          <span class="fas fa-plus"></span>
                        </button>
                      </span>
                    </div>
                  </div>
                  <div class="col-8">
                  <button class="modal-cart-btn form-control" id="cartButton">Add to Cart</button>
                  </div>
                </div>
                </div>
              </form>
            </div>
      </div>
    </div>
  </div>
</div>

<script src="/lib/jquery/jquery.min.js"></script>
<script>
      var span = document.getElementById('quantity'); // find the <span> element in the DOM
      var x = span.value;
      var increment = document.getElementById('increment'); // find the element with the ID 'increment'
      var decrement = document.getElementById('decrement'); // find the element with the ID 'decrement'

      increment.addEventListener('click', function () {
        // this function is executed whenever the user clicks the increment button
        span.value = x++;
      });

      decrement.addEventListener('click', function () {
        if(span.value > 0){
            // this function is executed whenever the user clicks the decrement button
        span.value = x--;
        }
      });

      if(<%- JSON.stringify(restaurant_load) %>){
      let restaurant_load = <%- JSON.stringify(restaurant_load) %>;
      console.log(restaurant_load)
      

      $(".product_clicker").on("click", function(){
        console.log(this.id.slice(this.id.length - 1))
        $('#foodModal_name').html(restaurant_load[this.id.slice(this.id.length - 1)].name);
        $('#foodModal_tags').html(restaurant_load[this.id.slice(this.id.length - 1)].tags);
        $('#foodModal_price').html(restaurant_load[this.id.slice(this.id.length - 1)].price);
        $("#foodModal_pic").attr("src","/uploads/"+restaurant_load[this.id.slice(this.id.length - 1)].picture);
        $("#restaurantID").attr('value',restaurant_load[this.id.slice(this.id.length - 1)].restaurant_id) ;
        $("#menuID").attr('value',restaurant_load[this.id.slice(this.id.length - 1)].product_id) ;
      })
      
      };

</script>